body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 상단 네비게이션 바 */
.nav-top {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 15px 30px;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 20px;
}
.logo-picture {
    width: 80px;
}
.nav-picture {
    width: 20px;
    height: 20px;
}
.dropdown {
    display: block;
    position: relative;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 .dropdown-content a:hover {
    background-color: #f1f1f1;
 }

/* 유저 정보 */
.user-info {
    height: 70px;
    display: flex;
    align-items: center;
    margin: 20px;
}
.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.user-name {
    margin: 0;
    font-weight : bold;
}
.description {
    margin: 0;
    font-size: 0.8em;
    color: #666;
}

/* 캘린더 */
.calendar-container {
    width: 100%;
    margin: auto;
}
.calendar-header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
#currentMonth {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}
.calendar-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.arrow-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    background:none;
    border: none;
    cursor: pointer;
}
.arrow-picture {
    width: 10px;
    height: 10px;
}
#addEventButton{
    cursor: pointer;
    border: none;
    background-color: #e3e3e3;
    border-radius: 7px;
    font-size: 1rem;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-cell {
    text-align: center;
    background: white;
    min-height: 70px;
    max-width: 70px;
    padding: 2px;
    position: relative;
}
.calendar-cell:hover {
    cursor: pointer;
}
.day-header {
    border-bottom: 1px solid #555;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
}
.calendar-date {
    margin-bottom: 2px;
    font-weight: bold;
}
.other-month {
    color: #999;
}
.today .calendar-date {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: black;
    color: white;
} 
.event-item {
    text-align: left;
    align-content: center;
    padding: 1px 5px;
    font-size: 0.7em;
    z-index: 999;
    border-radius: 3px;
    margin-bottom: 3px;
    position: relative;
    overflow: hidden;  /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis;  /* 넘치는 부분 '...' 처리 */
    white-space: nowrap;  /* 줄 바꿈 방지 */
}
.event-item.not-all::before {
    content: "";
    width: 4px;
    height: 20px;
    background-color: var(--event-bar-color, #f1f1f1);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
}

/* 이벤트 모달창 */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    width: 50%;
    max-width: 400px;
    max-height: 500px;
    overflow-y: auto;
}
.modal::-webkit-scrollbar-thumb{
    border-radius: 8px;
}
.eventForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.eventForm input {
    padding: 10px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid #ddd;
}
.eventForm input:focus {
    outline: none;
    border-bottom: 2px solid black;
}


/* 날짜 입력 */
.date-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.date-div input {
    width: 30%;
}

/* 토글 스위치 스타일 */
.toggle-switch {
position: relative;
display: inline-block;
width: 30px;
height: 15px;
}
.toggle-label {
    font-size: 0.8em;
}
.toggle-switch input {
opacity: 0;
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #e0e0e0;
transition: .4s;
border-radius: 20px;
}
.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 1px;
bottom: 1px;
background-color: white;
transition: .4s;
border-radius: 50%;
}
input:checked + .slider {
background-color: #4a90e2;
}
input:checked + .slider:before {
transform: translateX(15px);
}

/* 제출 버튼 */
.modalButtonDiv {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20;
}
.modalButtonDiv button {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modalButtonDiv button:first-child {
    background-color: #eee;
    color: black;
}
.modalButtonDiv button:last-child {
    background-color: #007bff;
    color: white;
}

/* showEventModal */
#dateEventsList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.date-event-item {
    width: 100%;
    padding: 10px;
    position : relative;
}
.date-event-item:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.date-event-item::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--event-bar-color, #f1f1f1);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
}
.event-title {
    font-weight: bold;
    font-size: 1.0em;
}
.event-duration {
    font-size: 0.8em;
}

/* 이벤트 수정창 */
#eventUpdateNav {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* 전체 컨테이너 스타일 */
.color-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 기본 input 숨기기 */
.color-picker-container {
    border-bottom: 2px solid #ddd;
}
.color-picker-container input {
    margin-left: 10px;
    border: none;
    width: 20px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
.color-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}
/* 하단 네비게이션 바 */
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 999;
}
.nav-bottom .nav-picture {
    width: 30px;
    height: 30px;
}