body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 상단 네비게이션 바 */
.nav-top {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 15px 30px;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 20px;
}
.logo-picture {
    width: 80px;
}
.nav-picture {
    width: 20px;
    height: 20px;
}
.dropdown {
    display: block;
    position: relative;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 .dropdown-content a:hover {
    background-color: #f1f1f1;
 }

/* 유저 정보 */
.user-info {
    height: 70px;
    display: flex;
    align-items: center;
    margin: 10px;
}
.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.user-name {
    margin: 0;
    font-weight : bold;
}
.description {
    margin: 0;
    font-size: 0.8em;
    color: #666;
}

/* 캘린더 */
.calendar-container {
    width: 90%;
    margin: auto;
}
.calendar {
    width: 100%;
    margin: auto;
}
.calendar-header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
#currentMonth {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}
.calendar-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.arrow-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    background:none;
    border: none;
    cursor: pointer;
}
.arrow-picture {
    width: 10px;
    height: 10px;
}
.calendar-button{
    cursor: pointer;
    border: none;
    background-color: #e3e3e3;
    border-radius: 7px;
    font-size: 1rem;
    padding: 3px;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-cell {
    text-align: center;
    background: white;
    min-height: 70px;
    padding: 3px;
}
.day-header {
    border-bottom: 1px solid #555;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
}
.calendar-date {
    margin-bottom: 2px;
    font-weight: bold;
}
.other-month {
    color: #999;
}
.today {
    background: #e6f3ff;
    border-radius: 10px;
}
.calendar-cell:hover {
    background-color: rgb(255, 250, 235);
}


/* 하단 네비게이션 바 */
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 1000;
}
.nav-bottom .nav-picture {
    width: 30px;
    height: 30px;
}