<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="/static/css/profile_setting.css">
    <script src="/static/js/profile_setting.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
    <nav class="navigation-bar">
        <div class="nav-item left">
            <img src="{{ url_for('static', filename='images/left-arrow.png') }}" class="nav-picture" onclick="history.back();">
        </div>
        <div class="nav-item center">
            계정 정보
        </div>
    </nav>

    <form id="profile-setting-form" class="profile-setting-form">
        <div id="user-profile">
            <img src="{{ url_for('static', filename='images/profile/basic_profile.jpg' if user.image_path == ''
            else user.image_path) }}" id="profile-image" class="profile-image">
            <input type="file" name="user-image" id="image-input" style="display: none;" accept="image/*">
        </div>

        <div class="user-profile">
            <p>Name</p>
            <input type="text" name="user-name" class="text-input" value="{{user.username}}">
        </div>

        <div class="user-profile">
            <p>Description</p>
            <input type="text" name="user-description" class="text-input" value="{{user.description}}">
        </div>

        <div class="user-profile">
            <p>Birthday</p>
            <input type="date" max="9999-12-31" name="user-birth" class="text-input" value="{{ 'YYYY-MM-DD' if user.birth == None else user.birth }}">
        </div>

        <div class="user-profile">
            <p>Interests</p>
            <input type="text" name="user-interests" class="text-input" value="{{user.interest}}">
        </div>

        <div class="user-profile">
            <p>Work</p>
            <input type="text" name="user-work" class="text-input" value="{{user.work}}">
        </div>

        <div class="user-profile">
            <p>Location</p>
            <input type="text" name="user-location" class="text-input" value="{{user.location}}">
        </div>

        <div class="user-profile">
            <p>Website</p>
            <input type="text" name="user-website" class="text-input" value="{{user.website}}">
        </div>

        <div class="button-div">
            <button type="submit">Submit</button>
        </div>
    </div>
</body>
</html>