<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/sign_in.css">
    <script src="/static/js/sign_in.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
    <nav class="navigation-bar">
        <div class="nav-item left">
            <img src="{{ url_for('static', filename='images/left-arrow.png') }}" class="nav-picture" onclick="history.back();">
        </div>
        <div class="nav-item center">
            로그인
        </div>
    </nav>
    <div class="form-container">
        <form id="login-form" class="login-form" method="post">
            <div class="form-group">
                <label for="user-email">이메일</label>
                <input type="email" id="user-email" class="login-input" name="user-email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="user-pwd">비밀번호</label>
                <input type="password" id="user-pwd" class="login-input" name="user-pwd" placeholder="Password" required>
            </div>
            <div class="button-div">
                <button type="submit">로그인</button>
            </div>
        </form>
    </div>
</body>
</html>